<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinxiu.profileshow.dao.ProfileDao">

    <!--插入配置数据-->
    <insert id="addProfile" useGeneratedKeys="true" keyProperty="id" parameterType="com.jinxiu.profileshow.dto.Profile">
        INSERT INTO profile (name, passwd, path)
        VALUES (#{profile.name}, #{profile.passwd}, #{profile.path})
    </insert>

    <select id="selectNums" resultType="java.lang.Integer">
         select count(*) from profile
    </select>

    <!--获得指定资源-->
    <select id="getProfile" resultType="com.jinxiu.profileshow.dto.Profile">
        SELECT * FROM profile
        where name = #{name}
    </select>

    <!--获取多个服务器登录账号密码-->
    <select id="getLoginYunMsg" resultType="java.util.Map">
        SELECT account, passwd, ip
        FROM profile
        WHERE type = 'yunlogin'
    </select>

    <!--导航页展示-->
    <select id="getPage" resultType="com.jinxiu.profileshow.dto.Profile">
        SELECT * FROM profile
    </select>
</mapper>
