<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinxiu.profileshow.dao.UserDao">

    <insert id="addUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.jinxiu.profileshow.dto.User">
        INSERT INTO user (name, account, passwd)
        VALUES (#{user.name}, #{user.account}, #{user.passwd})
    </insert>

    <select id="selectNums" resultType="java.lang.Integer">
         SELECT count(*) from user
    </select>

    <select id="getUser" resultType="com.jinxiu.profileshow.dto.User">
        SELECT * FROM user
        WHERE name = #{name}
    </select>

    <select id="getUserList" resultType="com.jinxiu.profileshow.dto.User">
        SELECT * FROM user
    </select>

    <select id="getPasswd" resultType="java.lang.String">
        SELECT passwd FROM user
        WHERE account = #{account}
    </select>

    <delete id="deleteUserByN" parameterType="java.lang.String">
        DELETE FROM user WHERE name = #{name}
    </delete>

    <select id="getAuthority" parameterType="java.lang.Integer">
        SELECT role from user WHERE account = #{account}
    </select>

    <!--修改权限-->
    <update id="changeAuthority">
        UPDATE user SET role = #{role}
        WHERE account = #{account}
    </update>

    <!--根据账号获取用户-->
    <select id="searchUser" resultType="com.jinxiu.profileshow.dto.User">
        SELECT * FROM user
        WHERE account = #{account}
    </select>

    <select id="searchUsers" parameterType="com.jinxiu.profileshow.dto.User"
            resultType="com.jinxiu.profileshow.dto.User">
        SELECT * FROM user
        <where>
            <if test="user.account!=''">
                AND account LIKE '%${user.account}%'
            </if>
            <if test="user.name!=''">
                AND name LIKE '%${userDto.name}%'
            </if>
            AND name != 'admin'
        </where>
    </select>

    <!--根据登录ip查询当前用户-->
    <select id="getCurrentUser" parameterType="java.lang.String" resultType="com.jinxiu.profileshow.dto.User">
        SELECT id, name, account, role, avatar, title FROM user
        WHERE loginip = #{host}
    </select>

    <!--根据登录登出修改当前用户登录状态和登录ip地址-->
    <update id="updateStatus" parameterType="java.util.Map">
        UPDATE user set status = #{status} , loginip = #{loginip}
        WHERE name = #{name}
    </update>

</mapper>
